$font-family-fa-num: 'IRANSansFaNum', Arial;
$font-family: 'IRANSans', Arial;
$main-color: #940000;

body {
    font-family: $font-family-fa-num;
    direction: rtl;
    text-align: right;
    background-color: #fafafa;
}

input {
    font-family: $font-family;
}

.fa-num {
    font-family: $font-family-fa-num !important;
}

.en-num {
    font-family: $font-family !important;
}

.tooltip {
    font-family: $font-family;
}


.food-image-small {
    min-height: 150px;
    background-position: center;
    background-size: cover;
    background-color: $main-color;
    filter: drop-shadow(0 0 2px #aaaaaa);
    border: 3px solid #fff;
}

.food-image-large {
    min-height: 200px;
    background-position-y: center;
    background-size: cover;
    background-color: $main-color;
    filter: drop-shadow(0 0 2px #aaaaaa);
}

.bg-main {
    background-color: $main-color;
}

.bg-nav {
    background-color: #691000;
}

.page-link {
    color: $main-color;
}

.page-item.active .page-link {
    background-color: $main-color;
    border-color: $main-color;
}

textarea.select2-search__field {
    height: 25px !important;
    text-align: right;
}

p {
    font-size: 1.1rem;
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: $font-family-fa-num !important;
    padding-right: 10px;
}

.dropdown-menu {
    text-align: right;
}

.logo {
    height: 28px;
}

.pagination {
    padding-right: 0;
}

.card {
    border-radius: 0.70rem;
}

.radius-70 {
    border-radius: 0.70rem;
}

@media (min-width: 200px) {
    #search-title {
        font-size: 14px;
    }

    #food-title {
        font-size: 20px
    }
}

@media (min-width: 400px) {
    #search-title {
        font-size: 18px;
    }

    #food-title {
        font-size: 25px
    }
}

@media (min-width: 500px) {
    #search-title {
        font-size: 25px;
    }

    #food-title {
        font-size: 30px
    }

    .food-image-large {
        height: 300px;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 56px;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 65%;
        height: 100%;
        border-left: #dadada 2px solid;
        background-color: #fefefe;
    }

    .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
        color: #232323;
    }

    .navbar-collapse.collapsing {
        right: -65%;
        transition: height 0s ease;
        z-index: 1;
    }

    .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out;
        z-index: 1;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: right 600ms ease-in-out;
    }

    .navbar-nav {
        padding-right: 0;
    }

    #main-nav li.nav-item {
        padding: 7px 0 7px 0;
        border-bottom: 1px #d0d0d0 solid;
    }

    #main-nav li.nav-item:last-child {
        border-bottom: 0;
    }

    #main-nav .dropdown-toggle:after {
        position: absolute;
        left: 0;
        font-size: 20px;
    }

    .navbar-custom .nav-item .nav-link.active, .navbar-custom .nav-item .nav-link:hover, .navbar-custom .nav-item .nav-link {
        color: #2f2f2f;
    }

    .navbar-collapse form {
        margin-top: 20px;
        border-bottom: 1px #d0d0d0 dashed;
        padding-bottom: 20px;
    }
}

#main-nav ul.dropdown-menu.show {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.left-radius {
    border-radius: 10px 0 0 10px;
}

.right-radius {
    border-radius: 0 10px 10px 0;
}

#main-div {
    margin-top: 65px;
}
