$font-family-fa-num: 'IRANSansFaNum', Arial;
$font-family: 'IRANSans', Arial;

body {
    font-family: $font-family-fa-num;
    direction: rtl;
    text-align: right;
    background-color: #fafafa;
}

input {
    font-family: $font-family;
}

.fa-num {
    font-family: $font-family-fa-num !important;
}

.en-num {
    font-family: $font-family !important;
}

.tooltip {
    font-family: $font-family;
}


.food-image-small {
    min-height: 150px;
    background-position-y: center;
    background-size: cover;
    background-color: #940000;
}

.food-image-large {
    min-height: 300px;
    background-position-y: center;
    background-size: cover;
    background-color: #940000;
}

.bg-main {
    background-color: #940000;
}

.bg-nav {
    background-color: #691000;
}

textarea.select2-search__field {
    height: 25px !important;
    text-align: right;
}

p {
    font-size: 1.1rem;
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: $font-family-fa-num !important;
    padding-right: 10px;
}

.dropdown-menu {
    text-align: right;
}

.logo {
    height: 28px;
}
