$font-family-fa-num: 'IRANSansFaNum', Arial;
$font-family: 'IRANSans', Arial;
$main-color: #940000;

body {
    font-family: $font-family-fa-num;
    direction: rtl;
    text-align: right;
    background-color: #fafafa;
}

input {
    font-family: $font-family;
}

.fa-num {
    font-family: $font-family-fa-num !important;
}

.en-num {
    font-family: $font-family !important;
}

.tooltip {
    font-family: $font-family;
}


.food-image-small {
    min-height: 150px;
    background-position-y: center;
    background-size: cover;
    background-color: $main-color;
}

.food-image-large {
    min-height: 200px;
    background-position-y: center;
    background-size: cover;
    background-color: $main-color;
}

.bg-main {
    background-color: $main-color;
}

.bg-nav {
    background-color: #691000;
}

.page-link {
    color: $main-color;
}

.page-item.active .page-link {
    background-color: $main-color;
    border-color: $main-color;
}

textarea.select2-search__field {
    height: 25px !important;
    text-align: right;
}

p {
    font-size: 1.1rem;
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: $font-family-fa-num !important;
    padding-right: 10px;
}

.dropdown-menu {
    text-align: right;
}

.logo {
    height: 28px;
}

.pagination {
    padding-right: 0;
}

@media (min-width: 200px) {
    #search-title {
        font-size: 14px;
    }

    #food-title {
        font-size: 20px
    }
}

@media (min-width: 400px) {
    #search-title {
        font-size: 18px;
    }

    #food-title {
        font-size: 25px
    }
}

@media (min-width: 500px) {
    #search-title {
        font-size: 25px;
    }

    #food-title {
        font-size: 30px
    }

    .food-image-large {
        height: 300px;
    }
}
