body {
    direction: rtl;
    text-align: right;
    background-color: #fafafa;
}

.food-image-small {
    min-height: 150px;
    background-position-y: center;
    background-size: cover;
    background-color: #940000;
}

.food-image-large {
    min-height: 300px;
    background-position-y: center;
    background-size: cover;
    background-color: #940000;
}

.bg-main {
    background-color: #940000;
}

.bg-nav {
    background-color: #691000;
}

.fw-500 {
    font-weight: 500;
}

textarea.select2-search__field {
    height: 25px !important;
    text-align: right;
}
